Repository maurer2/formality: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js:fix, npm run lint:styles:fix, npm run cleanup

.lintstagedrc:

{
  "*.{js,ts,vue}": "npm run lint:js:fix",
  "*.{css,scss,vue}": "npm run lint:styles:fix",
  "package.json": "npm run cleanup"
}

Cleanup
  .stylelintrc.js
  src/components/Indicator.vue
  tsconfig.json
Due: npm run lint:js:fix, npm run lint:styles:fix

Added 98.css
  package.json
  src/App.vue
  src/main.ts
  yarn.lock
Due: npm run lint:js:fix, npm run lint:styles:fix, npm run cleanup

Added outer frame
  src/App.vue
  src/components/Form.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Added button and form elements
  src/App.vue
  src/components/Email.vue
  src/components/Form.vue
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Fixed input alignment
  src/components/Email.vue
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Added error message icon and fixed clear button
  src/assets/error.png
  src/components/Email.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

clear button naming fix
  src/components/Email.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Added warning icon to password input
  src/components/Form.vue
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Fixed disabled button style
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Added disabled styling to form
  .eslintrc.js
  src/App.vue
  src/components/Button.vue
  src/components/Email.vue
  src/components/Form.vue
  src/components/Password-Criterion.vue
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Fixed linter errors
  .eslintrc.js
Due: npm run lint:js:fix

Made runnable again
  .nvmrc
  package.json
  vue.config.js
  yarn.lock
Due: npm run lint:js:fix, npm run cleanup

WIP
  .eslintrc.js
  package.json
  public/index.html
  src/App.vue
  src/components/Button.vue
  src/components/Email.vue
  src/components/Form.vue
  src/components/Indicator.vue
  src/components/Password-Criterion.vue
  src/components/Password.vue
  src/main.ts
  src/shims-tsx.d.ts
  src/shims-vue.d.ts
  tsconfig.json
  yarn.lock
Due: npm run lint:js:fix, npm run lint:styles:fix, npm run cleanup

Fixed v-model
  src/components/Email.vue
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Added workaround for broken svg icon
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Fixed svg loader and active button style
  package.json
  src/components/Password.vue
  vue.config.js
  yarn.lock
Due: npm run lint:js:fix, npm run lint:styles:fix, npm run cleanup

Fixed type import and added husky task
  package.json
  tsconfig.json
  vue.config.js
Due: npm run lint:js:fix, npm run cleanup

Removed zxcvbn in favour of zxcvbn-ts
  package.json
  src/components/Form.vue
  src/services/password-strength.ts
  yarn.lock
Due: npm run lint:js:fix, npm run lint:styles:fix, npm run cleanup

Temp fix v-model
  src/components/Form.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Added gmail-filter
  src/components/Email.vue
  src/components/Form.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Fixed password strength indicator
  .eslintrc.js
  src/components/Form.vue
  src/services/password-strength.ts
Due: npm run lint:js:fix, npm run lint:styles:fix

Improved email component
  src/components/Email.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Eslint fixes
  .eslintrc.js
  src/components/Email.vue
  src/components/Form.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Fixed password component and added remaining eslint fixes
  .eslintrc.js
  src/components/Email.vue
  src/components/Password.vue
  src/services/password-strength.ts
Due: npm run lint:js:fix, npm run lint:styles:fix

Reverted eslint indent changes
  .eslintrc.js
  src/components/Email.vue
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Added 98.css css variables
  src/App.vue
  src/css/98.css/custom-properties.css
  src/css/98.css/custom-properties.css.map
  src/main.ts
Due: npm run lint:js:fix, npm run lint:styles:fix

Improved wrapper css
  public/index.html
  src/App.vue
  src/main.ts
Due: npm run lint:js:fix, npm run lint:styles:fix

Fixed form grid
  src/components/Email.vue
  src/components/Form.vue
  src/components/Indicator.vue
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Stylint fixes
  src/App.vue
  src/components/Email.vue
  src/components/Form.vue
  src/components/Indicator.vue
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

added basic responsive grid
  src/App.vue
  src/components/Email.vue
  src/components/Form.vue
  src/components/Indicator.vue
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Set input to first column
  src/components/Email.vue
  src/components/Form.vue
  src/components/Indicator.vue
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Moved grid items into containers
  src/components/Form.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Removed unused CSS and fixed fieldset styles
  src/components/Email.vue
  src/components/Form.vue
  src/components/Indicator.vue
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Responsive fixes
  src/App.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Improved CSS sizing of fields
  src/App.vue
  src/components/Email.vue
  src/components/Password.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Added maximize logic
  src/App.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Fixed some warnings
  package.json
  src/components/Button.vue
  src/components/Email.vue
  src/components/Form.vue
  src/components/Indicator.vue
  src/components/Password-Criterion.vue
  src/components/Password.vue
  yarn.lock
Due: npm run lint:js:fix, npm run lint:styles:fix, npm run cleanup

Added clamp fallback
  src/App.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Added initial min-styles
  src/App.vue
Due: npm run lint:js:fix, npm run lint:styles:fix

Improved maximising an minimising
  src/App.vue
Due: npm run lint:js:fix, npm run lint:styles:fix
